<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="~{common/fragments/config :: ConfigFragment}">
    <title layout:title-pattern="$LAYOUT_TITLE : $CONTENT_TITLE">공통 타이틀</title>
</head>
<body id="page-top">

<div id="wrapper">
    <th:block th:replace="~{common/fragments/sideBar:: SidebarFragment}"></th:block>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <header th:replace="~{common/fragments/header :: HeaderFragment}"></header>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <th:block layout:fragment="Content"></th:block>
            </div>
        </div>
        <!-- End of Main Content -->
        <footer th:replace="~{common/fragments/footer :: FooterFragment}"></footer>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<th:block th:replace="~{common/fragments/modal :: LogoutModalFragment}"></th:block>

</body>
</html>